@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

.hero {
  display: flex;
  height: 350px;
  width: 100%;
  align-items: center;
  text-align: center;
  background: ghostwhite;
  background-size: cover;
}

.hero__inner {
  margin: 0 auto;
  padding: 0 15px;
}

.hero__title {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #263238;
  margin-bottom: 0.1em;
}

.hero__tagline {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #26323886;
}

.hero-search {
  margin-top: -30px;
  width: 100%;
}

.hero-search__inner {
  background-color: #407BFF;
  color: rgb(255, 255, 255);
  padding: 25px 0;
  margin: 0 15%;
  border-radius: 10px;
  border: transparent;
  text-decoration: none;
  text-shadow: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.295);
}

.row-search {
  padding: 0 5% !important;
}

.btn-search-barang {
  background-color: goldenrod;
  border: transparent;
}

.form-control-search {
  border-radius: 10px;
  border: transparent;
}

.create-barang-text {
  font-size: 10px;
  padding: 10px 0px 0px 5px;
}

.create-barang-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 520px) {
  .hero{
    height: 400px;
  }

  .create-barang-text {
    font-size: 13px;
  }

  .hero__title {
    font-size: 60px;
    margin-bottom: 0.1em;
  }
}

@media only screen and (min-width: 769px) {
  .hero{
    height: 450px;
  }

  .hero__title {
    font-size: 80px;
    margin-bottom: 0.1em;
  }
}
