.pagination-class {
  float: none;
  margin-right: 40px;
  cursor: pointer;
}

.pagination-class ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.pagination-class ul li a {
  color: #263238;
  padding: 0.5rem;
}

.pagination-class ul li.selected a {
  font-weight: 300;
  border-radius: 15px;
  background-color: #407bff;
  color: #fbfbfb !important;
}

@media only screen and (min-width: 520px) {
  .pagination-class {
    float: right;
    margin-right: 80px;
  }
}

@media only screen and (min-width: 769px) {
  .pagination-class {
    float: right;
    margin-right: 100px;
  }
}
